# Python
__pycache__/
*.pyc

# virtual environment
.venv/

# mac
.DS_Store

# notebooks
.ipynb_checkpoints/

# data
data/

# output
graphify-out/

# generated graphics
src/analysis/report_graphics.py

# experiments
experiments/plots

# requirements
requirements.txt

# claude
CLAUDE.md
